/* Estilo do cabeçalho */
header {
  display: flex;
  height: 60px;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #086d19;
  background: var(--background-highlight-default, #086d19);
}

/* Estilo do lado esquerdo do cabeçalho */
.header_left {
  display: flex;
  align-items: center;
  gap: 18px;
}

.header_left h1 {
  color: var(--specific-brand-header, #ffffff);
  font-family: "arial";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 22.5px */
  width: fit-content;
}

/* Estilo do menu no cabeçalho */
.header_menu {
  display: flex;
  align-items: center;
}

.header_menu ul {
  list-style-type: none; /* Remove os marcadores */
  padding: 0; /* Remove o padding padrão */
  margin: 0; /* Remove a margem padrão */
  display: flex; /* Exibe os itens na horizontal */
  gap: 28px;

}

.header_menu a{
  color: var(--link-on-highlight, #ffffff);
  font-family: "arial";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 112.5%; /* 18px */
  letter-spacing: 0.08px;
  text-decoration: none;
}

.header_menu a:hover {
  color: var(--link-hover, #ffffff);
  cursor: pointer;
}

/* Estilo do lado direito do cabeçalho */
.header_right {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 5%;
  justify-content: space-between;
}

/* Estilo do divisor no cabeçalho */
.header_divisor {
  width: 2px;
  align-self: stretch;
  background: var(--specific-overlay-on-highlight, #ffffff);
}

/* Estilo das imagens no cabeçalho */
.header_logo {
  width: 4%;
  height: 4%;
  border-radius: 4px;
  border: 2px solid var(--border-on-highlight, rgba(253, 254, 255, 0.70));
  background-color: #ffffff;
}


.botao {
  background: linear-gradient(90deg, #43a047 0%, #66bb6a 100%);
  color: #fff;
  border: none;
  border-radius: 24px;
  padding: 12px 36px;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0 4px 16px rgba(67,160,71,0.15);
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
}