<app-header></app-header>
<div class="home-container">

  <section class="hero">
    <div class="carrosel_container">
      <p-carousel [value]="images" [numVisible]="1" [numScroll]="1" [showNavigators]="true" [circular]="true"
        [indicatorStyle]="{ 'width': '80px', 'height': '8px', 'border-radius': '1' }">

        <ng-template let-item #item>

            <div class="carrosel_item_img">
              <img src="{{item.img}}" alt="{{item.alt}}">
            </div>

          <!-- <div *ngIf="!item.link">
        <div class="carrosel_item_img">
          <img src="{{item.img}}" alt="{{item.alt}}">
        </div>
      </div> -->

        </ng-template>
      </p-carousel>
    </div>

    <p>{{nome}}</p>
  </section>

  <footer class="footer">
    <p>&copy; 2025 Palmeiras Pizzaria.</p>
  </footer>
</div>