<div style="display: flex; justify-content: center; align-items: center;">

<form (ngSubmit)="onSubmit()">
  <h2>Cadastro de Usuário</h2>

  <label>Nome:</label>
  <textarea  [(ngModel)]="nome" name="nome" placeholder="Seu nome"></textarea>

  <label>CPF:</label>
  <textarea type="number" [(ngModel)]="cpf" name="cpf" placeholder="cpf (somente números)" maxlength="11" minlength="11"></textarea>

  <label>Email:</label>
  <textarea [(ngModel)]="email" name="email" placeholder="seuemail@email.com"></textarea>

  <label>Telefone:</label>
  <textarea [(ngModel)]="telefone" maxlength="11" minlength="11" name="telefone" placeholder="ddd + telefone (somente números)"></textarea>

  <label>Endereço:</label>
  <textarea [(ngModel)]="endereco" name="endereco" placeholder="Endereço completo"></textarea>

  <label>Data de Nascimento:</label>
  <input type="date" [(ngModel)]="dataNascimento" name="dataNascimento">

  <label>Senha:</label>
  <input type="password" [(ngModel)]="senha" name="senha" placeholder="Crie uma senha segura">
  <button type="submit">Cadastrar</button>
</form>
</div>
